* {
  box-sizing: border-box;
  background-image: url(https://images.unsplash.com/photo-1517299321609-52687d1bc55a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHNub3d8ZW58MHx8MHx8&auto=format&fit=crop&w=1400&q=60);
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 244, 232);
}
header {
  text-align: center;

  height: 100px;
  width: 100%;
  background-color: rgb(36, 117, 187);
}
h1 {
  margin-top: 2rem;
}
#button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(94, 106, 106);
  color: rgb(0, 0, 0);
  width: 120px;
  height: 50px;
  border-radius: 10px;
  border: none;
}

#button:active {
  border: 2px solid rgb(206, 211, 214);
  box-shadow: 2px 4px rgb(204, 204, 220);
}
article {
  text-align: center;
  margin-top: 30px;
}
#author {
  margin-top: 30px;
}

div {
  display: flex;
  justify-content: end;
}
