*{
    
    margin: 0;
    padding: 0;
}


header{
    text-align: center;
    height: 100px;
    width: 100%;
    background-color: aliceblue;
   
}
button{
    background-color: rgb(49, 49, 211);
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 10px ;
    text-align: center;
    margin-left: 80%;
    margin-bottom: 30px;
}
article{
    text-align: center;
    margin-top: 30px;
}
#author{
    margin-top: 30px;
}